.homeContainer {
  position: relative;
}

.homePictures {
  position: relative; 
  margin-bottom: 50rem;
}

.picture {
  width: 100%;
  height: auto;
}

.homeInfo {
  position: absolute; 
  top: 125px; 
  left: 90px; 
  width: 25%;
  height: 50%;
  border-radius: 0.4rem;
  color: #fff; 
  background-color: rgba(255, 255, 255);
  font-size: 1.2rem; 
  box-shadow: 20px;
}

.loginButton{
  position: fixed;
  top:20px;
  right:200px;
  color:darkblue;
  background-color:white;
  border-color:lightgray;
  border-radius: 50%;
  border-style:groove;
  padding:5px 20px;
}
