.plannerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 100px;
}

.game {
  width: 100%;
  display: flex;
  justify-content: center;
}

.rectangle {
  width: 90%;
  height: 650px;
  background-color: #dfdfdf;
  border-radius: 5px;
  margin-top: 20px;
}

.infoContainer {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; /* Center the flex items */
  width: 90%;
  margin-top: 20px;
}

.infoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%; 
  margin: 10px; 
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: box-shadow 0.3s ease;
  text-decoration: none;
  color: black;
}

.infoBox:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

.infoImageContainer {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.infoImage {
  object-fit: cover;
}

.infoText {
  padding: 10px;
  text-align: center;
}

.calculatorContainer {
  position: relative;
  right: 30%;
  align-self: flex-start;
  margin: 2rem auto;
  padding: 2rem;
  width: 23%;
  background: #f9fafd;
  border-radius: 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  
}

.calculatorTitle {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: #383a54;
}

.calculatorForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.calculatorInput,
.calculatorSelect {
  padding: 1.25rem;
  font-size: 1rem;
  border-color:#aaaaaa;
  border-radius: 0.8rem;
  margin-right: 1rem;
}

.calculatorSelect {
  width: 100%;
  padding: 1.25rem;
  font-size: 1rem;
  border-radius: 0.8rem;
  border: 1px solid #ddd;
}

.calculatorInput {
  width: 87%;
  padding: 1.25rem;
  font-size: 1rem;
  border-radius: 0.8rem;
  border: 1px solid #ddd;
}

.calculatorInput:focus,
.calculatorSelect:focus {
  outline: none;
  
}

.calculatorSelect {
  appearance: none;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"%3E%3Cpath d="M7 10l5 5 5-5H7z"/%3E%3C/svg%3E') no-repeat right 0.75rem center/1.5rem;
}

.calculatorButton {
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #383a54;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 2rem;
}

.calculatorButton:hover {
  background-color: #34364d;
}

.calculatorResult {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.testHeader {
  background-color: #FBE4E4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.testHeader h1 {
  font-size: 3rem;
}

.testSteps {
  display: flex;
  justify-content: space-around;
  margin: 2rem 4rem;
  gap: 2rem;
}

.testStep {
  background-color: rgba(245, 245, 245, 0.75);
  padding: 30px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
}

.testStep h2 {
  margin: 10px 0;
}

.testStep p {
  margin: 0;
}

.testStepImg {
  width: auto;
  height: 50px;
}

.testContent {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.testContent h2 {
  margin: 10px 0;
}

.testContentBtns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.testContentTopic {
  background-color: white;
  border: 2px solid #F66477;
  color: #F66477;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.testContentTopic:hover {
  background-color: #F66477;
  color: white;
}

.startTest {
  font-weight: bold;
  background-color: #F11834;
  border: none;
  color: white;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: fit-content;
}

.startTest:hover {
  background-color: #9C1425;
}