.navContainer {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #ea1e2e;
  margin-top: 1rem;
  width: 80%;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(20px);
  z-index: 1;
}

.navLinks {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navItem {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.secondRow {
  right: 15px;
  background-color: white;
  display: flex;
  position: relative;
  justify-content: flex-end;
  flex-direction: row;
  gap: 30px;
  margin-top: 2rem;
  margin-left: 185px;
  width: 80%;
}

.loginButton {
  color: darkblue;
  font: italic;
  border-color: #E5EAEF;
  border-width: 2px;
  border-style: solid;
  border-radius: 32px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 20px;
}

.enterpriseButton {
  color: #8090A6 !important; /* NOT SELECTED COLOUR */
  border-color: #E5EAEF;
  border-width: 2px;
  border-style: solid;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #E5EAEF;
}

.personalButton {
  color: darkblue;
  border-color: #E5EAEF;
  border-width: 2px;
  border-style: solid;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 30px;
}

.rewardsButton {
  color: darkblue;
  border-style: hidden;
  margin-left: 30px;
}

.paymentButton {
  color: darkblue;
  border-style: hidden;
  margin-left: 30px;
}

.chatboxButton {
  position: relative;
  top: 7px;
  border-style: hidden;
  margin-left: 30px;
}

.searchButton {
  position: relative;
  border-style: hidden;
  top: 7px;
  width: 100%;
  height: auto;
}

.topnavbarfont {
  font-family: Arial, Helvetica, sans-serif; 
  color: #1A2D45; 
  font-style: italic; 
  text-decoration: none;
}

.giftIcon {
  margin-left: 40px; /* Adjust this value to position the gift icon correctly */
  margin-right: -25px; /* Ensure there's space after the icon */
  margin-bottom: -3px;
  color: #1A2D45; /* Adjust color as needed */
  font-size: 20px; /* Adjust size as needed */
}

.logocontainer {
  position: absolute;
  left: 0;
  top: 0;
}

.logo{
  width: auto;
}