.navContainer {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #ea1e2e;
  margin-top: 3rem;
  width: 80%; 
  border-radius: 0.5rem;
  margin-left: auto; 
  margin-right: auto;
  transform: translateY(32px);
  z-index: 1;
}

.navLinks {
  display: flex;
  justify-content: center;
  width: 100%; 
}

.navItem {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  padding: 1.3rem;
  font-weight: 700;
  text-align: center; 
}


