.chatbotContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s;
    padding: 10px;
    z-index: 1000;
}

.chatbotContainer:hover {
    transform: scale(1.05);
}

.chatbotText {
    margin-right: 10px;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    border-radius: 30px 0 0 30px;
    padding: 10px 10px;
    padding-left: 30px;
}

.chatbotIcon {
    width: 60px;
    height: 60px;
    background-color: #ea1e2e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    color: white;
    font-size: 30px;
}

.chatWindow {
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    position: relative;
}

.chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #ea1e2e;
    color: #fff;
    border-radius: 15px 15px 0 0;
}

.closeButton {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.chatContent {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
